<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to index.html">
                    <match url="^$" />
                    <action type="Redirect" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
