<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Id</th>
      <th>User</th>
      <th>Text</th>
      <th>Datetime</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.messageId }}</td>
      <td>{{ forecast.userId }}</td>
      <td>{{ forecast.text }}</td>
      <td>{{ forecast.dateTime }}</td>
      <td>{{ forecast.chatId }}</td>
    </tr>
  </tbody>
</table>
