.wrapper {
  display: flex;
  flex-flow: row;
}

.notification {
  border-radius: 0.5em;
  width: 1em;
  height: 1em;
  background-color: #ff0000;
  right: 30px;
  top: 43%;
  position: absolute;
}

.chat-list {
  width: 30%;
}

.chat-window {
  width: 65%;
  max-height: 87%;
  height: 87%;
  position: absolute;
  right: 1em;
}

.username, .date {
  font-style: italic;
}

.username {
  font-weight: bold;
}

.message {
  background-color: #0d6efd;
  border-radius: 8px;
  margin: 3px;
  padding: 3px;
}

.date::before{
  content: "\a";
  white-space: pre;
}

.block {
  background-color: #1d8bfa;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 1em;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  box-shadow: #1861ac 4px 4px;
}

.block-active {
  background-color: #1a6ab9;
}

.text {
  width: 85%;
}

.chat-name {
  font-weight: bold;
}

.sender-name {
  font-style: italic;
}

.message-input {
  width: 90%;
  height: 90%;
  margin-right: 10px;
}

.messages {
  max-height: 90%;
  overflow-y: scroll;
}

.message-input-inner {
  border-width: 3px;
  border-radius: 4px;
  border-color: #1d8bfa;
}

.form-group {
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-flow: row;
}
