.wrapper {
  display: flex;
  flex-flow: row;
  flex-shrink: 0;
}

.sender-name, .username {
  margin-right: 3px;
}

.chat-list {
  width: 30%;
  max-width: 30%;
  position: absolute;
  left: 0;
  margin-left: 1em;
}

.chat-window {
  width: 60%;
  max-width: 60%;
  max-height: 90%;
  height: 90%;
  position: absolute;
  right: 1em;
  bottom: 5%;
}

.username, .date {
  font-style: italic;
}

.username {
  font-weight: bold;
  width: 100%;
}

.message {
  background-color: #1d8bfa;
  border-radius: 8px;
  padding: 3px;
  width: 100%;
  text-overflow: clip;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 3px 0 3px 0;
}

@media screen and (min-width: 800px)  {
  .message {
    margin-left: 50%;
    width: 50%;
  }

  .my-message {
    margin-left: 0;
  }
}

span {
  display: inline-flex;
}

.date::before{
  content: "\a";
  white-space: pre;
}

.block {
  background-color: #1d8bfa;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 0;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  box-shadow: #1861ac 4px 4px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  max-height: 20vh;
}

.block-active {
  background-color: #1a6ab9;
}

.text {
  width: 85%;
}

.chat-name {
  font-weight: bold;
}

.sender-name {
  font-style: italic;
}

.message-input {
  width: 90%;
  height: 90%;
  margin-right: 10px;
}

.messages {
  max-height: 88%;
  overflow-y: scroll;
}

.message-input-inner {
  border-width: 3px;
  border-radius: 4px;
  border-color: #1d8bfa;
}

.form-group {
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-flow: row;
}

.buttons-div {
  margin-left: auto;
}

.buttons-div > button {
  background: transparent;
  border: none;
  text-decoration: underline;
}

#send{
  display: block;
}

#edit {
  display: none;
}

#reply-button {
  display: none;
}

#delete-for-all {
  margin-left: 1em;
}

#dialog {
  background-color: #ef5775;
  border: none;
  box-shadow: crimson 4px 4px;
  border-radius: 8px;
}

#dialog .wrapper {
  display: block;
  line-height: 200%;
}

#dialog .wrapper-vertical {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 10px;
}

#reply {
  position: absolute;
  bottom: 45px;
  left: 0;
  max-height: 1.8em;
  width: 88%;
  overflow: hidden;
  visibility: hidden;
}

#cancel-reply {
  position: absolute;
  bottom: 45px;
  visibility: hidden;
  right: 10%;
  background: transparent;
  color: crimson;
  font-weight: bold;
  border: none;
}

span.reply-to {
  display: block;
  width: 100%;
  overflow: hidden;
}
